<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=LT-MARCD\SQLEXPRESS2012;Initial Catalog=scdemoSitecore_core;Integrated Security=False;User ID=sitecore;Password=sitecore" />
  <add name="master" connectionString="Data Source=LT-MARCD\SQLEXPRESS2012;Initial Catalog=scdemoSitecore_master;Integrated Security=False;User ID=sitecore;Password=sitecore" />
  <add name="web" connectionString="Data Source=LT-MARCD\SQLEXPRESS2012;Initial Catalog=scdemoSitecore_web;Integrated Security=False;User ID=sitecore;Password=sitecore" />
  <!--<add name="analytics" connectionString="mongodb://localhost:27017/scdemo_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/scdemo_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/scdemo_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/scdemo_tracking_contact" />
  <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=scdemoSitecore_reporting;Integrated Security=False;User ID=sitecore;Password=sitecore123" />-->
</connectionStrings>