@model SitecoreDemos.Models.Search.ContentSearchResult

<h1>Search result</h1>
<p>Results: @Model.ResultCount</p>
<ul>
    @foreach (var resultItem in @Model.ContentSearchResultItems)
    {
        <li><a href="@resultItem.Url">@resultItem.Title</a></li>
    }
</ul>

